body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: whitesmoke;
}

/* header */

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav {
    color: whitesmoke;
}

ul {
    display: flex;
    
}

li {
    padding: 15px 50px 0 50px;
    font-size: larger;
    list-style-type: none;     
}

li a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: gray;
}

@media only screen and (max-width: 975px) {

    header img {
        height: 40px;
    }
    li {
        padding: 10px 25px 0 20px;
        font-size: medium; 
    }
}

@media only screen and (max-width: 530px) {

    header img {
        display: none;
    }

    ul {
        display: flex;
        align-content: space-evenly;
        margin: 5px;
        padding: 0 0 0 0;
    }

    li {
        padding: 0 0 0 0;
        font-size: 14px;
        margin: 0 20px 0 0;
    }
}


/* banner */

#banner {
    display: grid;
    grid-template-areas: repeat(3, 1fr) / repeat(3, 1fr);
}

#banner img {
    
    width: 100%;
    grid-area: 1 / 1 / 4 / 4;
    justify-content: center;
}

#banner #inner {
    
    background-color: rgba(0, 0, 0, 0.8);
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 25px;
}

#banner #inner h1{
    padding: 10px 20px;
    text-align: center;
    font-size: 35px;
}

#banner #inner div{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

@media only screen and (max-width: 975px) {

    #banner #inner h1{
        padding: 5px 10px;
        text-align: center;
        font-size: 28px;
    }

    #banner #inner div {
        
        padding: 10px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 530px) {
    #banner #inner {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.4);
    }
 
    #banner #inner h1 {
        font-size: 22px;
    }

    #banner #inner div {
        display: none;
    }
}

/* Services */

#services h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

#services-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245, 0.1);
    padding: 25px 10px;
    margin: 25px 75px;
}

.image-container img {
    height: 500px;
    width: 300px;
    object-fit: cover;
}

.image-container div {
    padding-top: 15px;
    text-align: center;
    font-size: larger;
}

@media only screen and (max-width: 530px) {
    .image-container img {
        height: 200px;
        width: 120px;
    }
    #services h2 {
        font-size:24px ;
    }
}


/* Team */

#team {
    background-color: rgb(158, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#team h2 {
    font-size: 38px;
    text-align: center;
    padding-top: 20px;
    color: black;
}

#team-images {
    width: 84%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-evenly;
}

.portrait{
    margin: 10px;
    text-align: center;
    width: 300px;
}
.portrait img {
    margin: 10px;
    height: 550px;
    width: 300px;
    object-fit: cover;
}

.portrait div {
    padding-bottom: 20px;
}

@media only screen and (max-width: 530px) {
    .portrait img {
        margin: 10px;
        height: 200px;
        width: 100px;
    }
    #team-images {
        width: 96%;
    }

    #team h2{
        font-size: 22px;
    }
}

/* contact */

#contact {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact div {
    padding: 10px;
}

#contact div span {
    color: rgb(158, 10, 10);
}

@media only screen and (max-width: 530px) {
    #contact {
        font-size: 12px;
    }
}

/*footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

footer img {
    height: 40px;
}

@media only screen and (max-width: 530px) {
    footer img {
        height: 15px;
    }
    footer {
        font-size: x-small;
    }
}
